/* Hide scrollbars for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* Hide scrollbars for WebKit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
